/* Font Install */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900|Roboto:300,400,500,700,900');

@font-face {
    font-family: 'Myriad Pro';
    src: url('../font/MyriadPro-Regular.woff2') format('woff2'),
        url('../font/MyriadPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* Reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1.3;
    font-family: 'Montserrat', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1{
    font-size: 36px;
}
a:hover{
    color: #ff1493;
}
/* Main Css */
header {
    position: absolute;
    width: 100%;
    padding: 30px 0;
}
.navbar-brand{
    width: 200px;
}
ul.navbar-nav{
    margin-left: auto;
}
.nav-link {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
}
header .navbar-nav > .nav-item{
    padding: 0 15px;
}
.nav-link.btn .btn-signin {
    background: #ff1493;
    padding: 10px 15px;
    color: #fff;
    border-radius: 8px;
}
.pink {
    color: #ff1493;
}
.sechead {
    background: #fff url(../images/banner.png) no-repeat;
    background-size: cover;
    margin-bottom: 100px;
    padding: 200px 0 50px;
}
.sechead h1{
    color: #fff;
    font-weight: 700;
    margin-bottom: 18px;
    padding-left: 20px;
    margin-top: 95px;
}
.sechead p {
    color: #fff;
    font-weight: 100;
    line-height: 1.8;
    padding-left: 20px;
    margin-bottom: 40px;
}
.btn.btn-regular {
    background: #663399;
    padding: 10px 34px;
    border-radius: 8px;
    color: #fff;
    font-weight: 600;
}
.sechead .btn.btn-regular{
    margin-left: 20px;
}
.powered-by {
    text-align: right;
    padding-right: 10%;
}
.powered-by .figure-content {
    max-width: 170px;
    display: inline-block;
    width: 100%;
}

.secservices {
    display: inline-block;
    width: 100%;
    padding: 70px 0 100px;
}
.secservices .figure-content {
    max-width: 150px;
    margin: 0 auto;
}
.secservices p {
    font-size: 22px;
    color: #663399;
    font-weight: 700;
    text-align: center;
    line-height: 1.3;
    margin-bottom: 18px;
}
.secservices span {
    color: #444444;
    font-weight: 500;
    line-height: 1.6;
    display: inline-block;
    width: 100%;
    padding: 0 16px;
    text-align: center;
}

.secboarding{
    background-color: #f2f5f8;
    padding: 60px 0;
}
.secboarding .row{
    display: inline-block;
    width: 100%;
    margin: 0;
}
.secboarding p {
    font-size: 22px;
    color: #663399;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 15px;
    margin-top: 120px;
}
.secboarding span {
    color: #444444;
    font-weight: 500;
    line-height: 1.8;
    display: inline-block;
    width: 100%;
    padding-right: 120px;
    margin-bottom: 25px;
}

.secpoints{
    background: #1f1968;
    background: -moz-linear-gradient(left, #1f1968 0%, #663399 100%);
    background: -webkit-linear-gradient(left, #1f1968 0%,#663399 100%);
    background: linear-gradient(to right, #1f1968 0%,#663399 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f1968', endColorstr='#663399',GradientType=1 );
    padding: 60px 0;
}
.secpoints .figure-content {
    width: 340px;
}
.secpoints p{
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 25px;
}
.secpoints .points > ul > li{
    color: #fff;
    display: inline-block;
    width: 100%;
    position: relative;
    padding-left: 20px;
    margin-bottom: 20px;
    line-height: 1.8;
    padding-right: 60px;
}
.secpoints .points > ul > li:before{
    content: "";
    position: absolute;
    height: 8px;
    width: 8px;
    background-color: #fff;
    border-radius: 50%;
    top: 10px;
    left: 0;
} 
.secpoints .points.shift-top {
    padding-top: 50px;
}

.seccard {
    background-color: #fff;
    padding: 0 0 50px;
}
.seccard .row{
    display: inline-block;
    width: 100%;
    margin: 0;
}
.seccard p {
    font-size: 22px;
    color: #663399;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 15px;
    margin-top: 200px;
    padding-right: 150px;
}
.seccard span {
    color: #444444;
    font-weight: 500;
    line-height: 1.8;
    display: inline-block;
    width: 100%;
    padding-right: 120px;
    margin-bottom: 25px;
}

.secfeatures{
    background: #1f1968;
    background: -moz-linear-gradient(left, #1f1968 0%, #663399 100%);
    background: -webkit-linear-gradient(left, #1f1968 0%,#663399 100%);
    background: linear-gradient(to right, #1f1968 0%,#663399 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f1968', endColorstr='#663399',GradientType=1 );
    padding: 80px 0 50px;
}

.secfeatures .text {
    color: #fff;
    font-weight: 500;
    padding-right: 120px;
    line-height: 2;
    margin-top: 100px;
    font-size: 16px;
}
.secfeatures p {
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 65px;
}
.secfeatures ul > li > figure {
    max-width: 60px;
    margin-left: -7px;
}
.secfeatures ul > li {
    margin-bottom: 40px;
}
.secfeatures ul > li > p{
    color: #fff;
    display: inline-block;
    width: 100%;
    position: relative;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.secfeatures ul > li > span {
    color: #fff;
    font-size: 14px;
    padding-right: 120px;
    display: inline-block;
    width: 100%;
    line-height: 1.8;
}
.secfeatures .shift-top {
    padding-top: 90px;
}
.secfeatures .shift-top > li{
    position: relative;
    top: 10px;
}
.secvideo{
    padding: 80px 0;
}
.secvideo h2 {
    font-size: 22px;
    text-align: center;
    color: #663399;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 10px;
}
.secvideo p{
    text-align: center;
    color: #444444;
    font-weight: 500;
    line-height: 1.8;
    display: inline-block;
    width: 100%;
}
.videoarea {
    display: block;
    margin: 50px auto 0;
    position: relative;
}
.videoarea iframe{
    max-width: 100%;
    width: 560px;
}

footer {
    background: #08194e;
    padding: 80px 0;
}
.footer-logo {
    display: inline-block;
    width: 100%;
    max-width: 150px;
    padding-top: 10px;
}
footer h5 {
    color: #fff;
    font-size: 13px;
    line-height: 1.6;
    margin-top: 15px;
    margin-bottom: 70px;
    padding-right: 20px;
}
footer p{
    color: #fff;
    margin-bottom: 20px;
    font-size: 13px;
}
footer address{
    color: #7190b5;
    font-size: 12px;
}
footer address {
    color: #7190b5;
    font-size: 12px;
    line-height: 2;
    margin-bottom: 55px;
}
.copy-right > span {
    color: #fff;
    font-size: 12px;
}
.mumbai-address {
    padding-left: 20px;
}
.quicklinks {
    margin-bottom: 53px;
    padding-left: 20px;
}
.quicklinks > h5 {
    margin: 0 0 10px;
}
.quicklinks > ul > li{
    display: inline-block;
    width: 100%;
}
.quicklinks > ul > li > a {
    color: #22c3fc;
    font-size: 12px;
    margin-bottom: 5px;
    display: inline-block;
}
.support > ul > li > a{
    color: #22c3fc;
    font-size: 12px;
    margin-bottom: 5px;
    display: inline-block;
}
.support > p {
    margin: 35px 0 10px;
}
.support > a{
    color: #22c3fc;
    font-size: 13px;
}
.thiruvananthapuram-address {
    margin-top: 73px;
}
.social-networks > li {
    display: inline-block;
    width: 20%;
    text-align: center;
    height: 50px;
    max-width: 50px;
    border-radius: 50%;
    background-color: #141414;
    line-height: 50px;
    margin-right: 5px;
}
.social-networks > li > a{
    font-size: 12px;
}
.social-networks > li > a {
    font-size: 25px;
    color: #fff;
}
.hide{display: none;}
/* responsive */
@media only screen and (max-width: 1024px){
    .seccard p{margin-top: 130px;padding-right: 70px;}
    .seccard span{padding-right: 50px;}
    .secfeatures .text{padding-right: 50px;}
    .secfeatures ul > li > span{padding-right: 80px;}
    .secpoints .points > ul > li{padding-right: 0px;}
    .secpoints .figure-content {width: 300px;}
    .secboarding span{padding-right: 50px;}
    .secboarding p{margin-top: 80px;}
    .secservices span{padding: 0;}
    .secservices p{font-size: 19px;line-height: 1.5;}
    .secservices span{font-size: 15px;}
    .sechead h1{padding-left: 0;}
    .sechead p{padding-left: 0;font-size: 15px;}
    .sechead .btn.btn-regular {margin-left:0px;}
}
@media only screen and (max-width: 768px){
    .sechead{background: #1f1968;background: -moz-linear-gradient(left, #1f1968 0%, #663399 100%);background: -webkit-linear-gradient(left, #1f1968 0%,#663399 100%);background: linear-gradient(to right, #1f1968 0%,#663399 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f1968', endColorstr='#663399',GradientType=1 ); padding: 100px 0 50px; text-align: center;}
    .sechead p{padding-left: 0;}
    .sechead h1{text-align: center;padding-left: 0;}
    .sechead .btn.btn-regular{margin: 0 0 60px;}
    .powered-by {text-align: center;padding-right: 0;margin-top: 30px;}

    .secservices{padding: 0}
    .secservices span{margin-bottom: 50px;}
    
    .secboarding{text-align: center;}
    .secboarding p{margin-top:0;}
    .secboarding span{padding-right: 0;}

    .secpoints{background: #1f1968;}
    .points {padding: 50px 0 0;}
    .secpoints .figure-content {width: 100%;max-width: 500px; margin: 0 auto;}
    .secpoints p{text-align: center;}
    .secpoints .points > ul > li{padding: 0 0 0 25px;}
    .secpoints .points.shift-top{padding-top: 0;}

    .seccard{text-align: center;}
    .seccard p {margin-top: 0;padding: 0;}
    .seccard span{padding-right: 0;}

    .secfeatures{background: #1f1968;padding: 0 0 50px;}
    .secfeatures .text{text-align: center;padding: 0;}
    .secfeatures p.show{display: none;}
    .secfeatures p.hide{display: inline-block;width: 100%; margin: 60px 0 20px;text-align: center;}
    .secfeatures .text{margin: 0;}
    .secfeatures ul > li > figure{float: left;width: 20%;margin-top: 8px;margin-left: -7px;}
    .secfeatures ul > li > p{width: 80%;margin-bottom: 0; padding-left: 10px;margin-top: 10px;}
    .secfeatures ul > li > span{padding-left: 10px;width: 80%; padding-right: 0;}
    .secfeatures .shift-top {padding-top: 0px;}
    .secfeatures ul{padding-top:40px; }

    footer{text-align: center;}
    .social-links ul.social-networks {margin-top: 40px;}
    .navbar-collapse{
        background: #fff;
        top: 0;
        left: -300px;
        position: fixed;
        height: 100%;
        width: 300px;
        z-index: 99;
        display: block;
        transition: all 0.35s ease-in-out;
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
        filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.1));
        -webkit-filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.1));
    }
    .navbar-collapse.collapse.show{
        left: 0;
    }
    .navbar-collapse .navbar-nav {
        padding-left: 10px;
    }
    header .navbar-nav > li + li{
        padding: 10px 0;
        border-top: 1px solid #ddd;
    }
    header .navbar-nav > .nav-item {
        padding: 10px 0px;
    }
    li.nav-link.btn {
        text-align: center;
        padding-top: 40px;
    }
    ul.navbar-nav{margin-top: 20px; padding-right: 10px;}
    .navbar{padding: 0;}
    .navbar-nav .nav-link{color: #222;}
}